<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>

        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <title>{{ page.title }} – {{ site.title }}</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="color-scheme" content="light dark">

        <link rel="alternate" type="application/rss+xml" title="RSS feed for {{ site.title }}" href="/update/feed2.xml">

        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}
        <link href="/css/style.css" rel="stylesheet">
        {% endif %}

    </head>

    <body>

        <header>

            <a href="/" rel="index">{{ site.title }}</a>

            <div>{{ site.description }}</div>

        </header>

        <main id="content">
